@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model AceAceGroupTestApplication.Models.OneSignalApplication

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID)
        </th>
        <td>
            @Html.DisplayFor(model => model.ID)
        </td>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <td>
            @Html.DisplayFor(model => model.name)
        </td>
    </tr>
</table>

